################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IntelligentSampleEnginePOC.UI/.vs/IntelligentSampleEnginePOC.UI
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI/bin/Debug/net6.0
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI/obj
