################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IntelligentSampleEnginePOC.UI/.vs/IntelligentSampleEnginePOC.UI
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI/bin/Debug/net6.0
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI/obj
/IntelligentSampleEnginePOC.API/.vs
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API/bin/Debug/net6.0
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API/obj
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Core/bin/Debug/net6.0
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Core/obj
*.v2
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI.Tests/bin/Debug/net6.0
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI.Tests/obj
