################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/.idea/
/.vs
/IntelligentSampleEnginePOC.UI/.vs/IntelligentSampleEnginePOC.UI
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI/bin/Debug/net6.0
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI/obj
/IntelligentSampleEnginePOC.API/.vs
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API/bin/Debug/net6.0
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API/obj
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Core/bin/Debug/net6.0
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Core/obj
*.v2
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI.Tests/bin/Debug/net6.0
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI.Tests/obj
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API/bin/Release/net6.0
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API/Properties/PublishProfiles
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Core/bin/Release/net6.0
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI/bin/Release/net6.0
/IntelligentSampleEnginePOC.UI/IntelligentSampleEnginePOC.UI/Properties/PublishProfiles
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Http/bin
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Http/obj
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Http/Properties/PublishProfiles
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Core.Tests/obj
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Http.Tests/obj
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Core.Tests/bin/Debug/net6.0
/IntelligentSampleEnginePOC.API/IntelligentSampleEnginePOC.API.Http.Tests/bin/Debug/net6.0
/IntelligentSampleEnginePOC.API/.editorconfig
